/* <<<<<<<< Import File Css>>>>>>>> */
@import url(/css/reset.css);

/* <<<<<<<< Import File Font>>>>>>>> */
@font-face {
    font-family: iranBold;
    src: url(../font/IRANSansWeb_Bold.ttf);
}
@font-face {
    font-family: iranBlack;
    src: url(../font/IRANSansWeb_Black.ttf);
}

/* <<<<<<<< root => Variable >>>>>>>> */
:root{
    --font-bold: iranBold;
    --font-black: iranBlack;

    --color-bgColor: #F8FAFC;
    --color-white: #FFFFFF;
    --color-black: #212121;
    --color-black-50: #37474F;
    --color-black-25:#334155;
    --color-navy-blue: #1F2937;
    --color-yellow: #FACC15;
}

/* <<<<<<<< Body Style >>>>>>>> */
body{
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-bold);
    font-size: 1rem;
}

/* <<<<<<<< Custom Style >>>>>>>> */
.wrapper_title{
    display: block;
    width: 100%;
    text-align: center;
}
.title{
    font-family: var(--font-black);
    font-size: 2.2rem;
    color: var(--color-navy-blue);
}
.desc{
display: block;
margin-top: 0.5rem;
font-size: 0.9rem;
color: var(--color-black-50);
}

/* <<<<<<<< Custom Style >>>>>>>> */

/* <<<<<<<< Style Header>>>>>>>> */
.header{
    display: block;
    width: 100%;
    height: 90dvh;
    background-image: url(/assets/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
/* <<<<<<<< Start navbar Style>>>>>>>> */
.navBar{
    display: block;
    width: 100%;
    position: relative;
    top: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-white);
    border-radius: 1rem;
}
.navbar_wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar_items{
    display: flex;
    align-items: center;
}
.navbar_item{
    margin-right: 1.5rem;
}
.navbar_item_link{
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-black);
    transition: all 0.4s linear;
}
.navbar_item_linkActive{
    display: inline-block;
    height: 2rem;
    padding: 0.3rem;
    color: var(--color-white);
    background-color: var(--color-navy-blue);
    border-radius: 0.5rem;
}
.navbar_item_link::after{
    display: block;
    content: "";
    margin-top: 0.3rem;
    width: 0;
    height: 0.2rem;
    border-radius: 1rem;
    background-color: var(--color-navy-blue);
    transition: all 0.4s linear;
}
.navbar_item_link:hover::after{
    width: 100%;
}
.navbar_item_link:hover{
    color: var(--color-black-50);
}
.navbar_item_linkIcon .fa{
    font-size: 1.4rem;
    color: var(--color-black);
}

/* <<<<<<<< End navbar Style>>>>>>>> */

/* <<<<<<<< Start navbar-responsive Style>>>>>>>> */
.navbarRes{
    display: none;
    max-width: 100%;
    background-color: var(--color-white);
}
.navbarRes_wrapper{
    display: flex;
    width: 100%;  
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    position: relative;
}
.navbarRes_btn{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border: 1px solid var(--color-black);
    border-radius: 0.3rem;
    color: var(--color-black);
    transition: all 0.4s linear;
}
.navbarRes_btn:hover{
   color: var(--color-black-50); 
}
.navbarRes_btn .fa{
    font-size: 1.8rem;
}
.items_wrapper{
    position: absolute;
    top: 5rem;
    padding: 1rem;
    width: 900px;
    background-color:var(--color-white);
}
.notActive{
    display: none;
}
.navbarRes_items{
    display: block;
    width: inherit;
}
.navbarRes_item{
    margin-bottom: 1rem;
}
.navbarRes_item_link{
    width: inherit;
    text-decoration: none;
    color: var(--color-black);
    border-radius: 0.3rem;
    padding: 0.3rem;
}
.navbarRes_item_link:hover{
    background-color: var(--color-black-50);
    color: var(--color-white);
}
.navbarRes_item_linkActive{
    background-color: var(--color-black-50);
    color: var(--color-white);
}
.navbarRes_Link_logo{
}
.navbarRes_link_img{
    width: 100%;
}
.navbarRes_links{
    display: flex;
    align-items: center;
}
.navbarRes_link:first-child{
    margin-left: 1rem;
}
.navbarRes_link .fa{
    font-size: 1.7rem;
    color: var(--color-black);
    transition: all 0.4s linear;
}
.navbarRes_link .fa:hover{
    color: var(--color-black-50);
}
/* <<<<<<<< End navbar-responsive Style>>>>>>>> */

/* <<<<<<<< Style Header>>>>>>>> */

/* <<<<<<<< Main Style >>>>>>>> */
.main{
    display: block;
    width: 100%;
    background-color: var(--color-bgColor);
    padding: 3rem 0;
}
/* <<<<<<<< Section Style services >>>>>>>> */
.services{
    display: block;
    width: 100%;
    margin: 2rem 0;
}
.services_card{
    display: block;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
}
.services_card_icon{
display: block;
text-align: center;
margin: 0 auto;
width: 50px;
}
.services_card_title{
    display: block;
    text-align: center;
    margin: 1rem 0;
    font-family: var(--font-black);
    font-size: 1.3rem;
    color: var(--color-black-25);
}
.services_card_desc{
    display: block;
    width: 100%;
    font-size: 0.9rem;
    color: var(--color-black-50);
}
/* <<<<<<<< Section Style services >>>>>>>> */

/* <<<<<<<< Section Style Project >>>>>>>> */
.project{
    display: block;
    width: 100%;
    padding: 3rem 0;
    background-color: var(--color-navy-blue);
}
.project_titleText{
    display: block;
    text-align: center;
    color: var(--color-white);
}
.project_title{
    font-family: var(--font-black);
    font-size: 2rem;

}
.project_text{
    margin-top: 0.5rem;
font-size:0.9rem;
}

.project_card{
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    transition: all 0.4s linear;
}
.project_card:hover .project_card_content{
    opacity: 1;
}
.project_card_img{
    width: 100%;

}
.project_card_content{
display: block;
bottom: 0.5rem;
position: absolute;
text-align: center;
background-color:rgba(0, 0 ,0 ,0.7);
padding: 0.5rem;    
opacity: 0;
transition: all 0.4s linear;
}
.project_card_title{
    font-size: 1rem;
    color: var(--color-white);
}
.project_card_text{
    margin-top: 0.3rem;
    font-size: 0.8rem;
    color: var(--color-white);
}
/* <<<<<<<< Section Style Project >>>>>>>> */

/* <<<<<<<< Section Style About >>>>>>>> */
.about{
    display: block;
    width: 100%;
    background-color: var(--color-bgColor);
    padding: 4rem 0;
}
.about_img{
    width: 100%;
    border-radius: 1rem;
}
.about_content{
    display: block;
    width: 100%;
}
.about_desc{
    font-size: 1.1rem;
    line-height: 1.7;
    color: var(--color-black-25);
}
/* <<<<<<<< Section Style About >>>>>>>> */

/* <<<<<<<< Section Style Comments >>>>>>>> */
.comments{
    display: block;
    width: 100%;
    padding: 4rem 0;
    background-color: var(--color-bgColor);
}
.comment_card{
    display: block;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    max-width: 900px;
    background-color: var(--color-white);
    border-radius: 1rem;
}
.comment_card_text{
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-black-50);
}
.comment_card_info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.comment_card_img{
width: 120px;
border-radius: 50%;
}
.comment_card_infoContent{
    display: block;
    margin-right: 1rem;
}
.comment_card_name{
    font-size: 1rem;
    color: var(--color-black);
}
.comment_card_job{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--color-black-25);
}
/* <<<<<<<< Section Style Comments >>>>>>>> */

/* <<<<<<<< Section Style Article >>>>>>>> */
.article{
    display: block;
    width: 100%;
    padding: 4rem 0;
    background-color: var(--color-bgColor);
}
.article_card{
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: 0.7rem;
}
.article_card_textImg{
    display: block;
    position: relative;
}

.article_card_img{
    display: block;
width: 100%;
}
.article_card_text{
   display: inline;
    position: absolute;
    bottom: -1rem;
    left:35% ;
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    box-shadow: 0 0 10px 5px #eeee;
}
.article_card_content{
    display: block;
    padding: 2rem 1rem;
}
.article_card_title{
    font-family: var(--font-black);
    font-size: 1.2rem;
    color: var(--color-black-50);
}
.article_card_desc{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-black-25);
}
.article_card_link{
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-yellow);
    transition: all 0.4s linear;
}
.article_card_link:hover{
    color: var(--color-black);
}
/* <<<<<<<< Section Style Article >>>>>>>> */

/* <<<<<<<< Main Style >>>>>>>> */

/* <<<<<<<< Footer Style >>>>>>>> */
.footer{
    display: block;
    padding: 4rem 0;
    width: 100%;
    background-color: var(--color-navy-blue);
    color: var(--color-white);
}
.footer_content{
display: block;
margin-bottom: 2rem;
}
.footer_logo{

}
.footer_desc{
    display: block;
    font-size: 0.9rem;
    margin-top: 2rem;
}

.footer_title{
    display: block;
    text-align: center;
    font-family: var(--font-black);
    font-size: 1.4rem;    
}
.footer_items{
    display: block;
    text-align: center;
    margin: 2rem 0;   
}
.footer_item{
    margin-bottom: 1rem;
}
.footer_item_link{
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.4s linear;
}
.footer_item_link:hover{
    color: var(--color-yellow);
}
.footer_newsletter{
    display: block;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}
.footer_newsletter_text{
    font-size: 0.8rem;
}
.footer_newsletter_btnInput{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    width: 100%;
    height: 3rem;
    background-color: var(--color-white);
    overflow: hidden;
}
.footer_newsletter_input{
    outline: none;
    border: none;
    width: 100%;
    height: inherit;
    padding-right: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-black-25);
}
.footer_newsletter_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: inherit;
    outline: none;
    border: none;
    color: var(--color-black);
    background-color: var(--color-yellow);
    font-size: 1.2rem;
    transition: all 0.4s linear;
}
.footer_newsletter_btn:hover{
    background-color: var(--color-black-50);
    color: var(--color-white);
}
/* <<<<<<<< Footer Style >>>>>>>> */





/* <<<<<<<< Media query>>>>>>>> */

@media only screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        max-width: 720px;
    }
    /* navbar */
    .navBar{
        display: none;
    }
    .navbarRes{
        display: block;
    }
    /* navbar */
    
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
   
}
@media only screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }

}
/* <<<<<<<< Media query>>>>>>>> */